/* BOX SETTINGS*/
  .box-settings{
      position: relative;
      width: 30px;
  }
  .box-settings:before{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      bottom: -10px;
      height: 10px;
  }
  .box-settings .icon{
      font-size: 14px;
      cursor: pointer;
      display: inline-block;
      line-height: 50px;
      text-align: right;
  }
  .box-settings .bar {
      width: 18px;
  }
  .box-settings .bar span {
      display: inline-block;
      width: 18px;
      height: 1px;
      background-color: #111;
      float: left;
      margin: 2px 0;
  }
  .box-settings .bar span:last-child {
      margin-bottom: 0;
  }
  .box-settings .settings-wrapper {
      position: absolute;
      cursor: default;
      top: 100%;
      right: 0;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, visibility 0.4s linear 0s;
      -moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, visibility 0.4s linear 0s;
      -ms-transition: opacity 0.4s ease, -ms-transform 0.4s ease, visibility 0.4s linear 0s;
      -o-transition: opacity 0.4s ease, -o-transform 0.4s ease, visibility 0.4s linear 0s;
      transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
      transform: translateY(20px);
  }
  .box-settings .setting-content {
      background: #fff;
      text-align: left;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      width: 290px;
      float: left;
      padding: 25px;
      padding-top: 13px;
  }
  .box-settings.open .settings-wrapper,
  .box-settings:hover .settings-wrapper {
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      opacity: 1;
      filter: alpha(opacity=100);
      visibility: inherit;
  }
  .box-settings .select-language,
  .box-settings .select-currency {
      border-bottom: 1px dotted #cccccc;
      padding-top: 12px;
      padding-bottom: 20px;
  }
  
  .box-settings .language-title, 
  .box-settings .currency-title {
      color: #333333;
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 7px;
  }
  .lang-list ul li,
  .currency-list ul li {
      margin-right: 5px;
      list-style: none;
      display: inline-block;
      float: left;
  }
  .currency-list img,
  .lang-list img{
      float: left;
  }
  .currency-list ul li a span {
      background-color: #eee;
      color: #333333;
      padding: 0 15px;
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
      float: left;
  }
  .currency-list ul li a span:hover, 
  .currency-list ul li.active a span {
      background:#4f4f4f;
      color: #ffffff;
  }
  .setting-option{
      font-family: 'Roboto';
      padding-top: 13px;
  }
  .setting-option ul{
      padding-left: 16px;
  }
  .setting-option ul li{
      line-height: 30px;
  }
  .setting-option ul li a{
      color: inherit;
  }
  .setting-option ul li a:hover{
      color: #c99947;
  }
  
  .header.style2 .top-header{
      padding-top: 60px;
  }
  .header.style2 .main-header{
      padding: 50px 0;
  }
  .header.style2 .mobile-navigation{
      margin-top: 15px;
  }
  .header.style2 .logo{
      margin: 0;
      padding: 0;
  }
  .header.style2 .main-menu{
      float: right;
      margin-top: 10px;
  }
  .header.style2 .main-menu>li>a{
      padding: 8px 0;
  }
  .header.style2 .box-settings{
      height: auto;
      width: auto;
  }
  .header.style2 .box-settings .icon{
      line-height: normal;
      display: inline-block;
      padding-top: 17px;
  }
  
  .header.style2 .mini-cart .icon{
      font-size: 24px;
  }
  
  .header.style2 .box-control{
      width: auto;
      float: right;
  }
  .header.style2 .box-search,
  .header.style2 .box-settings,
  .header.style2 .mini-cart{
      padding: 0 10px;
  }
  .header.style2 .box-settings{
      padding-right: 0;
  }
  .header.style2 .box-search .icon{
      font-size: 26px;
      padding-top: 18px;
      display: inline-block;
      cursor: pointer;
  }
  .header.style2 .box-search .inner{
      position: absolute;
      top: 100%;
      right: 0;
      border: 1px solid #e5e5e5;
      min-width: 350px;
      display: none;
      z-index: 2;
  }
  .header.style2 .mini-cart{
      display: table-cell;
  }
  .header.style2 .mini-cart>a{
      font-size: 26px;
      color: #222;
  }
  .header.style2 .mini-cart .count{
      top: -10px;
      right: -10px;
  }
